{% include 'header.html' %}

<div class="container" role="main">
    <div class="page-header">
        <h1>{{ data.str_pageTitle }}</h1>
    </div>

    <div class="box1">
    <img src="{{ data.str_imgLink }}" class="profile" alt="Bild på mig">
    </div>

    <div class="box2 text">
        <p>Detta är min me-sida i kursen. Denna sidan innehåller en presentation av mig själv.</p>

        <p>Mitt namn är Emil Mattsson och jag studerar heltid på BTH. När jag inte studerar tränar jag färdigheterna med projekt så att jag alltid lär mig nytt. Webbprogrammering, vare sig det är back-end eller front-end är en dröm att arbeta med och jag hoppas kunna livnära mig helt på det. Därför är mina förväntningar på mig själv samt på kursernas innehåll höga, för att jag ska få en så god grund som möjligt inför framtiden. Mitt eget mål i kursen är att lära mig så mycket jag kan om objekt-orienterad programmering.</p>

        <p>Några övriga hobbies har jag inte tid med just nu. Fokusen ligger helt enkelt på studier, familj och projekt.</p>

        <p>Vi syns och hörs i forum och chatt!</p>
    </div>
</div>

{% include 'footer.html' %}
